:root {
  --primary: #F91155;
  --primary2: #FF4B77;
  --primary3: #D8003F;
  --secondary: #3C3E43;
  --accent: #FF7647;
  --userfont-header: roboto-st, sans-serif;
  --userfont-paragraph: opensans-st, sans-serif;
  --bg-image: url(../pictures/background.svg);
  --bg-gradient1: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0A2240 100%);
  --bg-gradient2: linear-gradient(180deg, rgba(205, 225, 248, 0.46) 11.33%, rgba(127, 138, 152, 0.85) 67.1%);
}
@font-face { src: url("../fonts/roboto-regular-webfont.woff2")    format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto-italic-webfont.woff2")     format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/roboto-bold-webfont.woff2")       format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: italic; }
@font-face { src: url("../fonts/OpenSans-italic.woff2")           format("woff2"); font-family: "opensans-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/OpenSans-bolditalic.woff2")       format("woff2"); font-family: "opensans-st"; font-weight: 700; font-style: italic; }
@font-face { src: url("../fonts/OpenSans-SemiBold.woff2")         format("woff2"); font-family: "opensans-st"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/OpenSans-ExtraBoldItalic.woff2")  format("woff2"); font-family: "opensans-st"; font-weight: 800; font-style: italic; }
@font-face { src: url("../fonts/OpenSans-LightItalic.woff2")      format("woff2"); font-family: "opensans-st"; font-weight: 300; font-style: italic; }
@font-face { src: url("../fonts/OpenSans-bold.woff2")             format("woff2"); font-family: "opensans-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/OpenSans-SemiBoldItalic.woff2")   format("woff2"); font-family: "opensans-st"; font-weight: 600; font-style: italic; }
@font-face { src: url("../fonts/OpenSans-ExtraBold.woff2")        format("woff2"); font-family: "opensans-st"; font-weight: 800; font-style: normal; }
@font-face { src: url("../fonts/OpenSans-Light.woff2")            format("woff2"); font-family: "opensans-st"; font-weight: 400; font-style: normal; }
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
       box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  text-indent: -10000px;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.body__bacground {
  background: #D7E3F7 url(../pictures/background.svg) center 100% no-repeat;
  background: #D7E3F7 var(--bg-image) center 100% no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
}
.cards {
  padding: 60px 0;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  height: 100%;
}
.container {
  width: 1212px;
  margin: auto;
}
.cards__header {
  font-family: roboto-st, sans-serif;
  font-family: var(--userfont-header);
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 42px;
  letter-spacing: -1.3px;
}
.cards__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
             -moz-box-pack: center;
          justify-content: center;
}
.card {
    width: 372px;
    margin: 0 16px 37px;
    background-color: #3C3E43;
    background-color: var(--secondary);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    color: #ffffff;
    position: relative;
    display: block;
    height: 372px;
   
}
.card:hover {
  cursor: pointer;
}
.card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0A2240 100%);
  background: var(--bg-gradient1);
}
.card__bg-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.card__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          -webkit-align-items: stretch;
             -moz-box-align: stretch;
          align-items: stretch;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          -webkit-justify-content: flex-start;
             -moz-box-pack: flex-start;
          justify-content: flex-start;
  position: absolute;
 
  left: 24px;
  top: 24px;
  right: 24px;
  z-index: 1;
  opacity: 0; 
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.card:hover .card__promo {
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.card__promo-text {
  background: #FF7647;
  background: var(--accent);
  line-height: 28px;
  font-family: roboto-st, sans-serif;
  font-family: var(--userfont-header);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 0px 5px 2px 16px;
}
.card__promo-icon {
  height: 30px;
}
.card__body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.card__content {
  margin: 0 24px 21px;
}
.card__header {
  text-align: left;
  display: block;
  font-size: 24px;
  font-family: roboto-st, sans-serif;
  font-family: var(--userfont-header);
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  max-height: 32px;
  overflow: hidden;
  margin: 0 0 11px;
  text-decoration: none;
  -webkit-text-decoration-color: rgba(205, 225, 248, 0);
          -moz-text-decoration-color: rgba(205, 225, 248, 0);
       text-decoration-color: rgba(205, 225, 248, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: -0.5px;
}
.card__header:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.5);
          -moz-text-decoration-color: rgba(255, 255, 255, 0.5);
       text-decoration-color: rgba(255, 255, 255, 0.5);
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  text-underline-position: auto;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.card__header:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.card__reserved--bg-gradient:hover .card__header {
  -webkit-text-decoration-color: transparent;
          -moz-text-decoration-color: transparent;
       text-decoration-color: transparent;
}
.card__text {
  text-align: left;
  display: block;
  font-size: 16px;
  font-family: opensans-st, sans-serif;
  font-family: var(--userfont-paragraph);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-height: 3em;
  overflow: hidden;
  letter-spacing: 0.5px;
}
.card__line {
  margin: 0 24px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.card__bottom {
  position: relative;
}
.card__bottom-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 23px 24px 24px;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
             -moz-box-pack: justify;
          justify-content: space-between;
}
.card__price {
  width: 37%;
}
.card__price-text {
  font-family: roboto-st, sans-serif;
  font-family: var(--userfont-paragraph);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  padding: 0px 0 4px;
}
.card__price-bottom {
  margin: 0 0 -1.5px;
}
.card__price-word {
  display: inline;
  font-family: roboto-st, sans-serif;
  font-family: var(--userfont-header);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.card__price-value {
  display: inline;
  color: #FF4B77;
  color: var(--primary2);
  font-family: roboto-st, sans-serif;
  font-family: var(--userfont-header);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 0 4px;
}
.card__price-currency {
  color: #999999;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  display: inline;
  font-family: roboto-st, sans-serif;
  font-family: var(--userfont-header);
}
.button {
  color: #FFFFFF;
  background: #F91155;
  background: var(--primary);
  text-decoration: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-family: opensans-st, sans-serif;
  font-family: var(--userfont-paragraph);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}
.button:hover {
  background: #D8003F;
  background: var(--primary3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button:active {
  background-color: #D8003F;
  background-color: var(--primary3);
  color: #F9637C;
}
.card__button {
  width: 180px;
  height: 48px;
}
.card__reserved--bg-gradient:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background: linear-gradient(180deg, rgba(205, 225, 248, 0.46) 11.33%, rgba(127, 138, 152, 0.85) 67.1%);
  background: var(--bg-gradient2);
}
.card__reserved--bg-gradient .card__promo {
  display: none;
}
.card__reserved--bg-gradient .card__bottom-reserved--bg-color {
  background: #3C3E43;
  background: var(--secondary);
  -webkit-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}
.card__reserved--bg-gradient .card__line-reserved--hide {
  opacity: 0;
}
.card__reserved--bg-gradient .card__price-reserved--hide {
  opacity: 0;
}
.card__reserved--bg-gradient .card__button-reserved--hide {
  opacity: 0;
}
.card__number-reserved {
  display: none;
}
.card__number-reserved--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
             -moz-box-pack: center;
          justify-content: center;
  height: 100%;
}
.card__number-reserved-text {
  width: 13em;
  height: 45px;
}
.card__reserved--bg-gradient .card__number-reserved {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  font-family: opensans-st, sans-serif;
  font-family: var(--userfont-paragraph);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.card__reserved--bg-gradient .card__number-reserved-pay {
  color: #FF4B77;
  color: var(--primary2);
}
@media (max-width: 1238px) {
  .container {
    max-width: 762px;
  }
  .cards__header {
    margin: 0 auto 42px;
    letter-spacing: -1.3px;
  }
  .card {
    max-width: 336px;
    height: 420px;
    margin: 0 14px 37px;
    border-radius: 10px;
  }
  .card__content {
    margin: 0 24px 21px;
  }
  .card__header {
    max-height: 64px;
    margin: 0 0 10px;
    letter-spacing: -0.6px;
  }
  .card__text {
    max-height: 72px;
    letter-spacing: 0.4px;
  }
  .card__price {
    width: 100%;
    margin-bottom: 16px;
  }
  .card__price-text {
    padding: 0px 0 4px;
  }
  .card__price-bottom {
    margin: 0;
  }
  .card__price-value {
    padding: 0px 4px;
  }
  .card__button {
    width: 100%;
  }
}
@media (max-width: 761px) {
  .container {
    max-width: 349px;
  }
  .cards__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.8px;
    margin-bottom: 25px;
  }
  .card {
    margin: 0 14px 32px;
    width: 288px;
    height: 347px;
  }
  .card__promo {
    left: 21px;
    top: 21px;
  }
  .card__promo-text {
    line-height: 25px;
    font-size: 12px;
    padding: 0 0 0 16px;
  }
  .card__promo-icon {
    height: 25px;
  }
  .card__content {
    margin: 0 21px 21px;
  }
  .card__header {
    letter-spacing: -0.02em;
    line-height: 26px;
    margin: 0px 0 11px;
    max-height: 26px;
    font-weight: 700;
    font-size: 20px;
  }
  .card__text {
    max-height: 4.4em;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.35px;
  }
  .card__line {
    margin: 0px 24px 4px;
  }
  .card__bottom-flex {
    padding: 16px 21px 21px 21px;
  }
  .card__price {
    width: 100%;
    margin-bottom: 15px;
  }
  .card__price-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
  }
  .card__price-word {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }
  .card__price-value {
    font-size: 20px;
    padding: 0px 2px;
  }
  .card__price-currency {
    font-size: 20px;
  }
  .card__button {
    height: 42px;
    font-size: 14px;
    border-radius: 3px;
  }
}